<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="edge" />

<!-- [jQuery] -->
<script src="/easyui/jquery.min.js" type="text/javascript" charset="utf-8"></script>

<!-- [EasyUI] -->
<link id="easyuiTheme" rel="stylesheet" href="/easyui/themes/gray/easyui.css" type="text/css" />
<link id="icon" rel="stylesheet" href="/easyui/themes/icon.css" type="text/css" />
<link id="icon2" rel="stylesheet" href="/css/icons.css" type="text/css" />
<link rel="stylesheet" href="/css/lightmvc.css" type="text/css" />
<link rel="stylesheet" href="/css/style.css" type="text/css" />
<script type="text/javascript" src="/easyui/jquery.easyui.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/easyui/locale/easyui-lang-zh_CN.js" charset="utf-8"></script>

<!-- 当前模块JS -->
<title>商品分类关联表</title>
<script type="text/javascript" src="/js/extJs.js"></script>
<script type="text/javascript" src="/js/goods/goodsLinkCategory/list.js"></script>
</head>
<body class="easyui-layout" data-options="fit:true,border:false">
    <div data-options="region:'north',border:false" style="padding:10px; overflow: hidden;background-color: #fff">
        <form id="searchForm">
            <table>
                <tr>

                    <th>商品名称：</th>
                      <td>
                        <input type="text" name="title" th:value="${goodsLinkCategoryCondition} ? ${goodsLinkCategoryCondition.categoryId} :''"/>
                      </td>
                  

                    <th>商品编码：</th>
                      <td>
                        <input type="text" name="code" th:value="${goodsLinkCategoryCondition} ? ${goodsLinkCategoryCondition.goodsId} :''"/>
                      </td>
                    
                    
                    <th>商品条码：</th>
                      <td>
                        <input type="text" name="barcode" th:value="${goodsLinkCategoryCondition} ? ${goodsLinkCategoryCondition.goodsId} :''"/>
                      </td>
                      
                      <th>是否出售中：</th>
                      <td>
                        <select id="cc" class="easyui-combobox" name="dept" style="width:200px;">
						    <option value="">全部</option>
						    <option value="true">出售中</option>
						    <option value="false">仓库中</option>
						</select>
                      </td>
                  
                      <td>
                        <a href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true" onclick="searchFun();">查询</a>
                        <a href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-cancel',plain:true" onclick="cleanFun();">清空</a>
                      </td>
                </tr>
            </table>
        </form>
    </div>
    <div data-options="region:'center',border:true" >
    	<div class="easyui-layout" data-options="fit:true,border:false">
    		<div data-options="region:'west',split:true,title:'商品分类'" style="width:30%;">
    			 <ul  id="categoryLeftTree" data-options="fit:true,border:false"></ul>
    		</div>
    	
    	
    		<div data-options="region:'center',border:false,title:'商品列表'" style="width:40%;">
    			<table id="goodsGrid" data-options="fit:true,border:false"></table>
    		</div>
    		
    		<div data-options="region:'east',split:true,title:'商品分类'" style="width:30%;">
    			 <ul  id="categoryTree" data-options="fit:true,border:false"></ul>
    		</div>
    	</div>
    </div>
</body>
</html>