<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="edge" />
<link rel="shortcut icon" href="/style/images/index/favicon.png" />
<script type="text/javascript">

    $(function() {
        $('#modelForm').on('submit', function(event){
            var $form = $(this);
            progressLoad();
            var isValid = $form.form('validate');
            if (!isValid) {
                progressClose();
                return isValid;
            }
            $.ajax({
                url: '/temp/goods/save',
                data: $form.serialize(),
                success: function(result){
                    progressClose();
                    if (result.success) {
                        parent.$.modalDialog.openner_dataGrid.datagrid('reload');//之所以能在这里调用到parent.$.modalDialog.openner_dataGrid这个对象，是因为user.jsp页面预定义好了
                        parent.$.modalDialog.handler.dialog('close');
                    } else {
                        parent.$.messager.alert('提示', result.msg, 'warning');
                    }
                },
                error: function(){
                    progressClose();
                    alert("系统错误");
                }
            });
            return false;
        });
    });
</script>
<div class="easyui-layout" data-options="fit:true,border:false">
    <div data-options="region:'center',border:false" title="" style="overflow: hidden;padding: 3px;">
        <form id="modelForm" method="post">
            <table class="grid">
                    <tr>
                        <td class="tdTit"><strong class="red" >*</strong><label>用户：</label></td>
                        <td>
                        <input type="text"  name="userId"   class="easyui-validatebox" data-options="required:true" th:value="${goods.userId}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>商品名称：</label></td>
                        <td>
                        <input type="text"  name="title"   class="easyui-validatebox" data-options="required:true" th:value="${goods.title}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>商品价格：</label></td>
                        <td>
                        <input type="text"  name="price"   class="easyui-validatebox" data-options="required:true" th:value="${goods.price}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>商品数量：</label></td>
                        <td>
                        <input type="text"  name="num"   class="easyui-validatebox" data-options="required:true" th:value="${goods.num}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>商品编码：</label></td>
                        <td>
                        <input type="text"  name="code"   class="easyui-validatebox" data-options="required:true" th:value="${goods.code}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>条形码：</label></td>
                        <td>
                        <input type="text"  name="barcode"   class="easyui-validatebox" data-options="required:true" th:value="${goods.barcode}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>商品详情：</label></td>
                        <td>
                        <input type="text"  name="description"   class="easyui-validatebox" data-options="required:true" th:value="${goods.description}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>商品原价：</label></td>
                        <td>
                        <input type="text"  name="originalPrice"   class="easyui-validatebox" data-options="required:true" th:value="${goods.originalPrice}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>促销价：</label></td>
                        <td>
                        <input type="text"  name="promotePrice"   class="easyui-validatebox" data-options="required:true" th:value="${goods.promotePrice}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>已售数量：</label></td>
                        <td>
                        <input type="text"  name="saledNumber"   class="easyui-validatebox" data-options="required:true" th:value="${goods.saledNumber}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>商品相册：</label></td>
                        <td>
                        <input type="text"  name="thumb"   class="easyui-validatebox" data-options="required:true" th:value="${goods.thumb}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>商品主图：</label></td>
                        <td>
                        <input type="text"  name="mainImg"   class="easyui-validatebox" data-options="required:true" th:value="${goods.mainImg}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>商品原图：</label></td>
                        <td>
                        <input type="text"  name="originalImg"   class="easyui-validatebox" data-options="required:true" th:value="${goods.originalImg}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>商品是否下架：</label></td>
                        <td>
                        <input type="text"  name="isOnsale"   class="easyui-validatebox" data-options="required:true" th:value="${goods.isOnsale}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>添加时间：</label></td>
                        <td><input id="" name="created" type="text" placeholder="点击选择时间" readonly="readonly" onfocus="WdatePicker();" th:value="${goods.created}"/></td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>修改时间：</label></td>
                        <td><input id="" name="modified" type="text" placeholder="点击选择时间" readonly="readonly" onfocus="WdatePicker();" th:value="${goods.modified}"/></td>
                    </tr>
            </table>
            <input type="hidden" name="id" th:value="${goods.id}"/>
        </form>
    </div>
</div>